.navbar {
  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 70px;

  display: flex;
  align-items: center;
  justify-content: space-between;

  padding: 0 8%;
  box-sizing: border-box;

  background: #0b0b14;

  border-bottom: 1px solid #252536;

  z-index: 1000;
}

.logo {
  color: white;
  font-size: 26px;
  font-weight: 700;
}

.logo span {
  color: #ff4f9a;
}

.nav-links {
  display: flex;
  gap: 28px;
}

.nav-links a {
  color: #d1d5db;
  text-decoration: none;
  font-size: 14px;

  transition: 0.3s;
}

.nav-links a:hover {
  color: #ff4f9a;
}