.skills-section {
  min-height: 100vh;
  padding: 100px 8%;
  background: #0b0b14;
}

.skills-container {
  max-width: 1200px;
  margin: auto;
}

.section-heading {
  text-align: center;
  margin-bottom: 60px;
}

.section-heading > p:first-child {
  color: #ff4f9a;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 3px;
  margin-bottom: 12px;
}

.section-heading h2 {
  color: white;
  font-family: Arial, sans-serif;
  font-size: 48px;
  margin-bottom: 15px;
}

.section-heading h2 span {
  color: #ff4f9a;
}

.heading-description {
  color: #a9a9b3;
  font-size: 16px;
}

.skills-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 20px;
}

.skill-card {
  padding: 30px 25px;

  background: #12121e;

  border: 1px solid #252536;
  border-radius: 14px;

  transition: 0.3s;
}

.skill-card:hover {
  transform: translateY(-8px);
  border-color: #ff4f9a;
}

.skill-icon {
  font-size: 35px;
  margin-bottom: 20px;
}

.skill-card h3 {
  color: white;
  font-family: Arial, sans-serif;
  font-size: 21px;
  margin-bottom: 12px;
}

.skill-card p {
  color: #a9a9b3;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.7;
}


/* TABLET */

@media (max-width: 1000px) {

  .skills-grid {
    grid-template-columns: repeat(2, 1fr);
  }
}


/* MOBILE */

@media (max-width: 600px) {

  .skills-section {
    padding: 80px 6%;
  }

  .section-heading h2 {
    font-size: 36px;
  }

  .skills-grid {
    grid-template-columns: 1fr;
  }
}